{% extends "admin_base.html" %} {% block content %}
<style>
  form {
    width: 90vw;
    height: auto;
    padding: 2vh;
    box-shadow: rgba(255, 0, 0, 0.878) 0.5vh 0.5vh 1.5vh;
    margin: 5vh auto;
    border-radius: 2vh;
    background-color: rgba(88, 157, 130, 0.95);
    overflow-y: auto;
    margin-top: 12vh;
    max-height: 70vh;
    z-index: 2;
  }

  form h2 {
    text-align: center;
    margin-bottom: 2vh;
  }

  .input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vh;
    font-weight: 470;
    counter-increment: question-counter;
  }

  .input-box label {
    flex: 1;
    display: flex;
  }

  /* Styling for the numbering */
  .input-box:before {
    margin-right: 0.5vh;
    content: counter(question-counter) ": ";
  }

  .input-box input[type="text"],
  .input-box input[type="number"]{
    width: 10%;
    padding: 0.7vh;
    margin-bottom: 1vh;
    border: 0.1vh solid #ccc;
    box-sizing: border-box;
    outline: none;
  }
  .input-box select {
    width: 25%;
    padding: 0.7vh;
    margin-bottom: 1vh;
    border: 0.1vh solid #ccc;
    box-sizing: border-box;
    outline: none;
  }
  .input-box input[type="text"] {
    width: 30%;
    padding: 1.4vh;
    margin-bottom: 1vh;
    border: 0.1vh solid #ccc;
    box-sizing: border-box;
    outline: none;
  }

  .input-box input[type="checkbox"] {
    margin-left: 0.5vh;
    margin-right: 0.5vh;
    width: 2.2vh;
    height: 2.2vh;
    appearance: none;
    background-color: rgba(153, 31, 31);
    border: 0.4vh solid #ccc;
    cursor: pointer;
    vertical-align: middle;
    outline: none;
    position: relative;
  }

  .input-box input[type="checkbox"]:checked {
    background-color: rgba(88, 157, 130);
  }

  .input-box input[type="checkbox"]:checked::before {
    content: "\2713";
    font-size: 1.6vh;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn-primary {
    display: block;
    margin: 2vh auto;
    width: 30%;
    padding: 1.2vh 2vh;
    margin-top: 0.2vh;
    border: none;
    outline: none;
    border-radius: 2vh;
    background-color: rgba(255, 255, 255, 1);
    color: #000000;
    font-size: 1.5vh;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .btn-primary:hover {
    color: #ffffff;
    background-color: #000000;
  }
</style>



<form action="" method="POST" id="questionnaireForm">
  {% csrf_token %} {{ form.errors }} {{ form.non_field_errors }}
  <h2>Questionnaire Form</h2>
  <div class="input-box">
    <input
      type="checkbox"
      id="ICT_facility"
      name="ICT_facility"
      {%
      if
      questionnaire.ICT_facility
      %}
      checked
      {%
      endif
      %}
    />
    <label for="ICT_facility"
      >College has ICT Lab for Students in General Courses along with
      Professional Courses</label
    >
  </div>

  <div class="input-box">
    <label for="num_computers_in_ICT_labs"
      >Number of Computers in ICT Labs:</label
    >
    <input
      type="number"
      id="num_computers_in_ICT_labs"
      name="num_computers_in_ICT_labs"
      value="{{ questionnaire.num_computers_in_ICT_labs }}"
    />
  </div>

  <div class="input-box">
    <input
      type="checkbox"
      id="housekeeping"
      name="housekeeping"
      {%
      if
      questionnaire.housekeeping
      %}
      checked
      {%
      endif
      %}
    />
    <label for="housekeeping"
      >College has Housekeeping (Cleaning and Maintenance Services)</label
    >
  </div>

  <div class="input-box">
    <label for="total_staffs_housekeeping"
      >Total Number of Staffs in Housekeeping/Cleaning:</label
    >
    <input
      type="number"
      id="total_staffs_housekeeping"
      name="total_staffs_housekeeping"
      value="{{ questionnaire.total_staffs_housekeeping }}"
    />
  </div>
  <div class="input-box">
    <input
      type="checkbox"
      id="video_conf"
      name="video_conf"
      {%
      if
      questionnaire.video_conf
      %}
      checked
      {%
      endif
      %}
    />
    <label for="video_conf"
      >College has video conference Facility for Online Meetings and
      Lectures</label
    >
  </div>
  <div class="input-box">
    <label for="rooms_with_video_conf"
      >Number of Rooms with video Conferencing Facility</label
    >
    <input
      type="number"
      id="rooms_with_video_conf"
      name="rooms_with_video_conf"
      value="{{ questionnaire.rooms_with_video_conf }}"
    />
  </div>
  <div class="input-box">
    <input
      type="checkbox"
      id="biometric"
      name="biometric"
      {%
      if
      questionnaire.biometric
      %}
      checked
      {%
      endif
      %}
    />
    <label for="biometric">Biometric Attendance Facility availabe</label>
  </div>
  <div class="input-box">
    <input
      type="checkbox"
      id="biometric_working"
      name="biometric_working"
      {%
      if
      questionnaire.biometric_working
      %}
      checked
      {%
      endif
      %}
    />
    <label for="biometric_working"
      >Is Biometric Machine working ? क्या बायोमेट्रिक मशीन काम कर रही है
      ?</label
    >
  </div>
  <div class="input-box">
    <input
      type="checkbox"
      id="merged_savings_accounts"
      name="merged_savings_accounts"
      {%
      if
      questionnaire.merged_savings_accounts
      %}
      checked
      {%
      endif
      %}
    />
    <label for="merged_savings_accounts"
      >Have you merged all the saving accounts of your college?</label
    >
  </div>
  <div class="input-box">
    <label for="classrooms"
      >Total No. of Classrooms/ Lecture Halls in your College</label
    >
    <input
      type="number"
      id="classrooms"
      name="classrooms"
      value="{{ questionnaire.classrooms }}"
    />
  </div>

  <div class="input-box">
    <label for="labrooms">Total No. of Lab Rooms</label>
    <input
      type="number"
      id="labrooms"
      name="labrooms"
      value="{{ questionnaire.labrooms }}"
    />
  </div>

  <div class="input-box">
    <label for="library"
      >Total No. of Library Rooms/ Halls / Reading Rooms</label
    >
    <input
      type="number"
      id="library"
      name="library"
      value="{{ questionnaire.library }}"
    />
  </div>
  <div class="input-box">
    <label for="additionalrooms">No. of Any Additional Room/s in College</label>
    <input
      type="number"
      id="additionalrooms"
      name="additionalrooms"
      value="{{ questionnaire.additionalrooms }}"
    />
  </div>
  <div class="input-box">
    <label for="toilets_male">Total No. of Toilets for Male in College</label>
    <input
      type="number"
      id="toilets_male"
      name="toilets_male"
      value="{{ questionnaire.toilets_male }}"
    />
  </div>
  <div class="input-box">
    <label for="toilets_female"
      >Total No. of Toilets for Female in College</label
    >
    <input
      type="number"
      id="toilets_female"
      name="toilets_female"
      value="{{ questionnaire.toilets_female }}"
    />
  </div>
  <div class="input-box">
    <label for="num_under_construction"
      >Does the College have any under-construction building , Total No of
      Under-construction buildings ? आपके महाविद्यालय में निर्माणाधीन भवनों की
      कुल संख्या ?</label
    >
    <input
      type="number"
      id="num_under_construction"
      name="num_under_construction"
      value="{{ questionnaire.num_under_construction }}"
    />
  </div>
  <!-- <div class="input-box">
    <label for="name_nodal_officer"
      >Name of the Nodal Officer</label
    >
    <input
      type="number"
      id="name_nodal_officer"
      name="name_nodal_officer"
      value="{{ questionnaire.name_nodal_officer }}"
    />
  </div>
  <div class="input-box">
    <label for="mobile_nodal_officer"
      >Mobile No. of the Nodal Officer</label
    >
    <input
      type="number"
      id="mobile_nodal_officer"
      name="mobile_nodal_officer"
      value="{{ questionnaire.mobile_nodal_officer }}"
    />
  </div> -->
  <div class="input-box">
    <label for="enrolled">Total No. of students enrolled (Only UG & PG)</label>
    <input
      type="number"
      id="enrolled"
      name="enrolled"
      value="{{ questionnaire.enrolled }}"
    />
  </div>
  <div class="input-box">
    <label for="present"
      >Total No. of students present today (Only UG & PG)</label
    >
    <input
      type="number"
      id="present"
      name="present"
      value="{{ questionnaire.present }}"
    />
  </div>
  <div class="input-box">
    <label for="showcaused"
      >Till Today, Total No. of students show-caused (Only UG& PG)for absence
      from class</label
    >
    <input
      type="number"
      id="showcaused"
      name="showcaused"
      value="{{ questionnaire.showcaused }}"
    />
  </div>
  <div class="input-box">
    <label for="disenrolled"
      >Till Today, Total No. students dis-enrolled (Only UG& PG) for absence
      from class?</label
    >
    <input
      type="number"
      id="disenrolled"
      name="disenrolled"
      value="{{ questionnaire.disenrolled }}"
    />
  </div>
  <div class="input-box">
    <label for="reenrolled"
      >Till Today, Total No of students re-enrolled (Only UG& PG) after taking
      notarized affidavit of valid explanation with proof ?</label
    >
    <input
      type="number"
      id="reenrolled"
      name="reenrolled"
      value="{{ questionnaire.reenrolled }}"
    />
  </div>
  <div class="input-box">
    <label for="total_teacher"
      >Total Number of Teachers in College. (All )</label
    >
    <input
      type="number"
      id="total_teacher"
      name="total_teacher"
      value="{{ questionnaire.total_teacher }}"
    />
  </div>
  <div class="input-box">
    <label for="teacher_present"
      >Total Number Teachers offering their services today? (All types of
      Teachers)
    </label>
    <input
      type="number"
      id="teacher_present"
      name="teacher_present"
      value="{{ questionnaire.teacher_present }}"
    />
  </div>
  <div class="input-box">
    <label for="teacher_una_leave"
      >Total Number of Teachers on un-authorised leave. (All)</label
    >
    <input
      type="number"
      id="teacher_una_leave"
      name="teacher_una_leave"
      value="{{ questionnaire.teacher_una_leave }}"
    />
  </div>
  <div class="input-box">
    <label for="teacher_salary_on_hold"
      >No of Teachers whose Salary on Hold as action against absence.</label
    >
    <input
      type="number"
      id="teacher_salary_on_hold"
      name="teacher_salary_on_hold"
      value="{{ questionnaire.teacher_salary_on_hold }}"
    />
  </div>
  <div class="input-box">
    <label for="teacher_other_action"
      >No of Teachers on whom actions are taken other than salary on hold as action against absence.</label
    >
    <input
      type="number"
      id="teacher_other_action"
      name="teacher_other_action"
      value="{{ questionnaire.teacher_other_action }}"
    />
  </div>
  <div class="input-box">
    <label for="non_teaching"
      >Total Number of Non-Teaching Staff in College. (All )</label
    >
    <input
      type="number"
      id="non_teaching"
      name="non_teaching"
      value="{{ questionnaire.non_teaching }}"
    />
  </div>
  <div class="input-box">
    <label for="non_teaching_salary_on_hold"
      >No of Non-Teaching whose Salary on Hold as action against absence.</label
    >
    <input
      type="number"
      id="non_teaching_salary_on_hold"
      name="non_teaching_salary_on_hold"
      value="{{ questionnaire.non_teaching_salary_on_hold }}"
    />
  </div>
  <div class="input-box">
    <label for="non_teaching_una_leave"
      >Total Number of Non-Teaching Staff on un-authorised leave. (All)</label
    >
    <input
      type="number"
      id="non_teaching_una_leave"
      name="non_teaching_una_leave"
      value="{{ questionnaire.non_teaching_una_leave }}"
    />
  </div>
  <div class="input-box">
    <label for="non_teaching_other_action"
      >No of Non-Teaching staff on whom actions are taken other than salary on hold as action against absence.</label
    >
    <input
      type="number"
      id="non_teaching_other_action"
      name="non_teaching_other_action"
      value="{{ questionnaire.non_teaching_other_action }}"
    />
  </div>
  <div class="input-box">
    <label for="faculty_more_five"
      >Number of faculty members engaged five (5) or more (Only UG& PG)
      classes/Lab-sessions today</label
    >
    <input
      type="number"
      id="faculty_more_five"
      name="faculty_more_five"
      value="{{ questionnaire.faculty_more_five }}"
    />
  </div>
  <div class="input-box">
    <label for="faculty_less_three"
      >Total No. of Faculty members engaged three (3) or less
      Classes/Lab-sessions today</label
    >
    <input
      type="number"
      id="faculty_less_three"
      name="faculty_less_three"
      value="{{ questionnaire.faculty_less_three }}"
    />
  </div>
  <div class="input-box">
    <label for="not_faculty_more_five"
      >Total No of faculty members not engaged five (5) or more (Only UG& PG)
      classes/Lab-sessions today</label
    >
    <input
      type="number"
      id="not_faculty_more_five"
      name="not_faculty_more_five"
      value="{{ questionnaire.not_faculty_more_five }}"
    />
  </div>
  <div class="input-box">
    <label for="action_faculty_less_five"
      >Actions taken on faculty members not engaged five (5) or more (Only UG&
      PG) classes/Lab-sessions today</label
    >
    <input
      type="number"
      id="action_faculty_less_five"
      name="action_faculty_less_five"
      value="{{ questionnaire.action_faculty_less_five }}"
    />
  </div>
  <div class="input-box">
    <label for="class_scheduled"
      >Total Number of Classes scheduled for today (Only UG& PG) according to
      Time-Table</label
    >
    <input
      type="number"
      id="class_scheduled"
      name="class_scheduled"
      value="{{ questionnaire.class_scheduled }}"
    />
  </div>
  <div class="input-box">
    <label for="class_held"
      >Total Number of Classes held today (Only UG& PG)according to the
      Time-Table</label
    >
    <input
      type="number"
      id="class_held"
      name="class_held"
      value="{{ questionnaire.class_held }}"
    />
  </div>
  <div class="input-box">
    <label for="lab_scheduled"
      >Total Number of Lab-Sessions scheduled (Only UG& PG)for today according
      to Time-Table</label
    >
    <input
      type="number"
      id="lab_scheduled"
      name="lab_scheduled"
      value="{{ questionnaire.lab_scheduled }}"
    />
  </div>
  <div class="input-box">
    <label for="lab_held"
      >Total Number of Lab-Sessions held (Only UG& PG)today according to the
      Time-Table</label
    >
    <input
      type="number"
      id="lab_held"
      name="lab_held"
      value="{{ questionnaire.lab_held }}"
    />
  </div>
  <div class="input-box">
    <input
      type="checkbox"
      id="inspection"
      name="inspection"
      {%
      if
      questionnaire.inspection
      %}
      checked
      {%
      endif
      %}
    />
    <label for="inspection">Has Inspection happened Today ?</label>
  </div> 

  <div class="input-box">
    <input
      type="checkbox"
      id="merged_accounts_two"
      name="merged_accounts_two"
      {%
      if
      questionnaire.merged_accounts_two
      %}
      checked
      {%
      endif
      %}
    />
    <label for="merged_accounts_two"
      >Has College Merged all the bank accounts into two accounts? क्या
      महाविद्यालय ने अपने सभी बैंक खातों को केवल दो बैंक खातों में जोड़ दिया है
      ?</label
    >
  </div>

  <div class="input-box">
    <label for="num_bank_accounts_existed_earlier"
      >How many bank accounts existed earlier in the College? पूर्व में बैंक में
      कितने खाते थे ?</label
    >
    <input
      type="number"
      id="num_bank_accounts_existed_earlier"
      name="num_bank_accounts_existed_earlier"
      value="{{ questionnaire.num_bank_accounts_existed_earlier }}"
    />
  </div>
  <div class="input-box">
    <label for="num_bank_accounts_existed_today"
      >How many bank accounts exists for College today? वर्तमान में कुल कितने
      बैंक खाते हैं ?</label
    >
    <input
      type="number"
      id="num_bank_accounts_existed_today"
      name="num_bank_accounts_existed_today"
      value="{{ questionnaire.num_bank_accounts_existed_today }}"
    />
  </div>

  <div class="input-box">
    <label for="remarks">Remarks</label>
    <input
      type="text"
      id="remarks"
      name="remarks"
    />
  </div>

  <button id="loading-button" type="submit" class="btn btn-primary">
    Submit
  </button>
</form>

{% endblock content %}
