{% extends "user_base.html" %} {% block content %}
<style>
  form {
    width: 50vw;
    height: auto;
    padding: 2vh;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0.5vh 1.5vh;
    margin: 5vh auto;
    border-radius: 2vh;
    background-color: rgba(88, 157, 130, 0.95);
    overflow-y: auto;
    margin-top: 12vh;
    max-height: 70vh;
  }

  form h2 {
    text-align: center;
    margin-bottom: 2vh;
  }

  .input-box {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
    font-weight: 470;
    counter-increment: question-counter; /* Increment the counter for each question */
  }
  .input-box label {
    flex: 1;
    display: flex;
  }

  .input-box input[type="number"],
  .input-box select {
    width: 20%;
    padding: 0.7vh;
    margin-bottom: 1vh;
    border: 0.1vh solid #ccc;
    box-sizing: border-box;
    outline: none;
  }

  .input-box input[type="checkbox"] {
    margin-right: 1vh;
    width: 2vh; /* Adjust width */
    height: 2vh; /* Adjust height */
    appearance: none;
    background-color: rgba(153, 31, 31);
    border: 0.1vh solid #ccc; /* Border */
    border-radius: 0.5vh; /* Border radius */
    cursor: pointer; /* Cursor style */
    vertical-align: middle; /* Align vertically */
    outline: none; /* Remove focus outline */
    position: relative; /* Positioning context for the tick */
  }

  .input-box input[type="checkbox"]:checked {
    background-color: rgba(
      88,
      157,
      130
    ); /* Change background color when checked */
  }
  .input-box input[type="checkbox"]:checked::before {
    content: "\2713"; /* Unicode character for a checkmark */
    font-size: 1.6vh; /* Adjust size */
    color: #fff; /* Color of the tick */
    position: absolute; /* Positioning relative to the checkbox */
    top: 50%; /* Align vertically */
    left: 50%; /* Align horizontally */
    transform: translate(-50%, -50%); /* Center the tick */
  }

  .btn-primary {
    display: block;
    margin: 2vh auto;
    width: 30%;
    padding: 1.2vh 2vh;
    margin-top: 0.2vh;
    border: none;
    outline: none;
    border-radius: 2vh;
    background-color: rgba(255, 255, 255, 1);
    color: #000000;
    font-size: 1.5vh;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  .btn-primary:hover {
    color: #ffffff;
    background-color: #000000;
  }
</style>

<form action="" method="POST" id="courseInformationForm">
  {% csrf_token %} {{ form.errors }} {{ form.non_field_errors }}
  <h2>Course Details</h2>

  <div class="input-box">
    <input
      type="checkbox"
      id="pg_arts_exist"
      name="pg_arts_exist"
      {%
      if
      form.pg_arts_exist
      %}
      checked
      {%
      endif
      %}
    />
    <label for="pg_arts_exist">College has pg arts course?</label>
  </div>
  <div class="input-box">
    <label for="pg_arts_sem1_enrolled">PG arts Sem1 enrolled students:</label>
    <input
      type="number"
      id="pg_arts_sem1_enrolled"
      name="pg_arts_sem1_enrolled"
      value="form.pg_arts_sem1_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="pg_arts_sem1_present">PG arts Sem1 present students:</label>
    <input
      type="number"
      id="pg_arts_sem1_present"
      name="pg_arts_sem1_present"
      value="form.pg_arts_sem1_present"
    />
  </div>
  <div class="input-box">
    <label for="pg_arts_sem2_enrolled">PG arts Sem2 enrolled students:</label>
    <input
      type="number"
      id="pg_arts_sem2_enrolled"
      name="pg_arts_sem2_enrolled"
      value="form.pg_arts_sem2_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="pg_arts_sem2_present">PG arts Sem2 present students:</label>
    <input
      type="number"
      id="pg_arts_sem2_present"
      name="pg_arts_sem2_present"
      value="form.pg_arts_sem2_present"
    />
  </div>
  <div class="input-box">
    <label for="pg_arts_sem3_enrolled">PG arts Sem3 enrolled students:</label>
    <input
      type="number"
      id="pg_arts_sem3_enrolled"
      name="pg_arts_sem3_enrolled"
      value="form.pg_arts_sem3_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="pg_arts_sem3_present">PG arts Sem3 present students:</label>
    <input
      type="number"
      id="pg_arts_sem3_present"
      name="pg_arts_sem3_present"
      value="form.pg_arts_sem3_present"
    />
  </div>
  <div class="input-box">
    <label for="pg_arts_sem4_enrolled">PG arts Sem4 enrolled students:</label>
    <input
      type="number"
      id="pg_arts_sem4_enrolled"
      name="pg_arts_sem4_enrolled"
      value="form.pg_arts_sem4_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="pg_arts_sem4_present">PG arts Sem4 present students:</label>
    <input
      type="number"
      id="pg_arts_sem4_present"
      name="pg_arts_sem4_present"
      value="form.pg_arts_sem4_present"
    />
  </div>
  <div class="input-box">
    <input
      type="checkbox"
      id="pg_science_exist"
      name="pg_science_exist"
      {%
      if
      form.pg_science_exist
      %}
      checked
      {%
      endif
      %}
    />
    <label for="pg_science_exist">College has pg science course?</label>
  </div>
  <div class="input-box">
    <label for="pg_science_sem1_enrolled"
      >PG science Sem1 enrolled students:</label
    >
    <input
      type="number"
      id="pg_science_sem1_enrolled"
      name="pg_science_sem1_enrolled"
      value="form.pg_science_sem1_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="pg_science_sem1_present"
      >PG science Sem1 present students:</label
    >
    <input
      type="number"
      id="pg_science_sem1_present"
      name="pg_science_sem1_present"
      value="form.pg_science_sem1_present"
    />
  </div>
  <div class="input-box">
    <label for="pg_science_sem2_enrolled"
      >PG science Sem2 enrolled students:</label
    >
    <input
      type="number"
      id="pg_science_sem2_enrolled"
      name="pg_science_sem2_enrolled"
      value="form.pg_science_sem2_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="pg_science_sem2_present"
      >PG science Sem2 present students:</label
    >
    <input
      type="number"
      id="pg_science_sem2_present"
      name="pg_science_sem2_present"
      value="form.pg_science_sem2_present"
    />
  </div>
  <div class="input-box">
    <label for="pg_science_sem3_enrolled"
      >PG science Sem3 enrolled students:</label
    >
    <input
      type="number"
      id="pg_science_sem3_enrolled"
      name="pg_science_sem3_enrolled"
      value="form.pg_science_sem3_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="pg_science_sem3_present"
      >PG science Sem3 present students:</label
    >
    <input
      type="number"
      id="pg_science_sem3_present"
      name="pg_science_sem3_present"
      value="form.pg_science_sem3_present"
    />
  </div>
  <div class="input-box">
    <label for="pg_science_sem4_enrolled"
      >PG science Sem4 enrolled students:</label
    >
    <input
      type="number"
      id="pg_science_sem4_enrolled"
      name="pg_science_sem4_enrolled"
      value="form.pg_science_sem4_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="pg_science_sem4_present"
      >PG science Sem4 present students:</label
    >
    <input
      type="number"
      id="pg_science_sem4_present"
      name="pg_science_sem4_present"
      value="form.pg_science_sem4_present"
    />
  </div>
  <div class="input-box">
    <input
      type="checkbox"
      id="pg_commerce_exist"
      name="pg_commerce_exist"
      {%
      if
      form.pg_commerce_exist
      %}
      checked
      {%
      endif
      %}
    />
    <label for="pg_commerce_exist">College has pg commerce course?</label>
  </div>
  <div class="input-box">
    <label for="pg_commerce_sem1_enrolled"
      >PG commerce Sem1 enrolled students:</label
    >
    <input
      type="number"
      id="pg_commerce_sem1_enrolled"
      name="pg_commerce_sem1_enrolled"
      value="form.pg_commerce_sem1_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="pg_commerce_sem1_present"
      >PG commerce Sem1 present students:</label
    >
    <input
      type="number"
      id="pg_commerce_sem1_present"
      name="pg_commerce_sem1_present"
      value="form.pg_commerce_sem1_present"
    />
  </div>
  <div class="input-box">
    <label for="pg_commerce_sem2_enrolled"
      >PG commerce Sem2 enrolled students:</label
    >
    <input
      type="number"
      id="pg_commerce_sem2_enrolled"
      name="pg_commerce_sem2_enrolled"
      value="form.pg_commerce_sem2_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="pg_commerce_sem2_present"
      >PG commerce Sem2 present students:</label
    >
    <input
      type="number"
      id="pg_commerce_sem2_present"
      name="pg_commerce_sem2_present"
      value="form.pg_commerce_sem2_present"
    />
  </div>
  <div class="input-box">
    <label for="pg_commerce_sem3_enrolled"
      >PG commerce Sem3 enrolled students:</label
    >
    <input
      type="number"
      id="pg_commerce_sem3_enrolled"
      name="pg_commerce_sem3_enrolled"
      value="form.pg_commerce_sem3_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="pg_commerce_sem3_present"
      >PG commerce Sem3 present students:</label
    >
    <input
      type="number"
      id="pg_commerce_sem3_present"
      name="pg_commerce_sem3_present"
      value="form.pg_commerce_sem3_present"
    />
  </div>
  <div class="input-box">
    <label for="pg_commerce_sem4_enrolled"
      >PG commerce Sem4 enrolled students:</label
    >
    <input
      type="number"
      id="pg_commerce_sem4_enrolled"
      name="pg_commerce_sem4_enrolled"
      value="form.pg_commerce_sem4_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="pg_commerce_sem4_present"
      >PG commerce Sem4 present students:</label
    >
    <input
      type="number"
      id="pg_commerce_sem4_present"
      name="pg_commerce_sem4_present"
      value="form.pg_commerce_sem4_present"
    />
  </div>
  <div class="input-box">
    <input
      type="checkbox"
      id="pg_professional_exist"
      name="pg_professional_exist"
      {%
      if
      form.pg_professional_exist
      %}
      checked
      {%
      endif
      %}
    />
    <label for="pg_professional_exist">College has pg commerce course?</label>
  </div>
  <div class="input-box">
    <label for="pg_professional_sem1_enrolled"
      >PG professional Sem1 enrolled students:</label
    >
    <input
      type="number"
      id="pg_professional_sem1_enrolled"
      name="pg_professional_sem1_enrolled"
      value="form.pg_professional_sem1_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="pg_professional_sem1_present"
      >PG professional Sem1 present students:</label
    >
    <input
      type="number"
      id="pg_professional_sem1_present"
      name="pg_professional_sem1_present"
      value="form.pg_professional_sem1_present"
    />
  </div>
  <div class="input-box">
    <label for="pg_professional_sem2_enrolled"
      >PG professional Sem2 enrolled students:</label
    >
    <input
      type="number"
      id="pg_professional_sem2_enrolled"
      name="pg_professional_sem2_enrolled"
      value="form.pg_professional_sem2_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="pg_professional_sem2_present"
      >PG professional Sem2 present students:</label
    >
    <input
      type="number"
      id="pg_professional_sem2_present"
      name="pg_professional_sem2_present"
      value="form.pg_professional_sem2_present"
    />
  </div>
  <div class="input-box">
    <label for="pg_professional_sem3_enrolled"
      >PG professional Sem3 enrolled students:</label
    >
    <input
      type="number"
      id="pg_professional_sem3_enrolled"
      name="pg_professional_sem3_enrolled"
      value="form.pg_professional_sem3_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="pg_professional_sem3_present"
      >PG professional Sem3 present students:</label
    >
    <input
      type="number"
      id="pg_professional_sem3_present"
      name="pg_professional_sem3_present"
      value="form.pg_professional_sem3_present"
    />
  </div>
  <div class="input-box">
    <label for="pg_professional_sem4_enrolled"
      >PG professional Sem4 enrolled students:</label
    >
    <input
      type="number"
      id="pg_professional_sem4_enrolled"
      name="pg_professional_sem4_enrolled"
      value="form.pg_professional_sem4_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="pg_professional_sem4_present"
      >PG professional Sem4 present students:</label
    >
    <input
      type="number"
      id="pg_professional_sem4_present"
      name="pg_professional_sem4_present"
      value="form.pg_professional_sem4_present"
    />
  </div>
  <div class="input-box">
    <input
      type="checkbox"
      id="ug_arts_exist"
      name="ug_arts_exist"
      {%
      if
      form.ug_arts_exist
      %}
      checked
      {%
      endif
      %}
    />
    <label for="ug_arts_exist">College has ug arts course?</label>
  </div>
  <div class="input-box">
    <label for="ug_arts_sem1_enrolled">UG arts Sem1 enrolled students:</label>
    <input
      type="number"
      id="ug_arts_sem1_enrolled"
      name="ug_arts_sem1_enrolled"
      value="form.ug_arts_sem1_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="ug_arts_sem1_present">UG arts Sem1 present students:</label>
    <input
      type="number"
      id="ug_arts_sem1_present"
      name="ug_arts_sem1_present"
      value="form.ug_arts_sem1_present"
    />
  </div>
  <div class="input-box">
    <label for="ug_arts_yr2_enrolled">UG arts Yr2 enrolled students:</label>
    <input
      type="number"
      id="ug_arts_yr2_enrolled"
      name="ug_arts_yr2_enrolled"
      value="form.ug_arts_yr2_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="ug_arts_yr2_present">UG arts Yr2 present students:</label>
    <input
      type="number"
      id="ug_arts_yr2_present"
      name="ug_arts_yr2_present"
      value="form.ug_arts_yr2_present"
    />
  </div>
  <div class="input-box">
    <label for="ug_arts_yr3_enrolled">UG arts Yr3 enrolled students:</label>
    <input
      type="number"
      id="ug_arts_yr3_enrolled"
      name="ug_arts_yr3_enrolled"
      value="form.ug_arts_yr3_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="ug_arts_yr3_present">UG arts Yr3 present students:</label>
    <input
      type="number"
      id="ug_arts_yr3_present"
      name="ug_arts_yr3_present"
      value="form.ug_arts_yr3_present"
    />
  </div>
  <div class="input-box">
    <input
      type="checkbox"
      id="ug_science_exist"
      name="ug_science_exist"
      {%
      if
      form.ug_science_exist
      %}
      checked
      {%
      endif
      %}
    />
    <label for="ug_science_exist">College has ug science course?</label>
  </div>
  <div class="input-box">
    <label for="ug_science_sem1_enrolled"
      >UG science Sem1 enrolled students:</label
    >
    <input
      type="number"
      id="ug_science_sem1_enrolled"
      name="ug_science_sem1_enrolled"
      value="form.ug_science_sem1_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="ug_science_sem1_present"
      >UG science Sem1 present students:</label
    >
    <input
      type="number"
      id="ug_science_sem1_present"
      name="ug_science_sem1_present"
      value="form.ug_science_sem1_present"
    />
  </div>
  <div class="input-box">
    <label for="ug_science_yr2_enrolled"
      >UG science Yr2 enrolled students:</label
    >
    <input
      type="number"
      id="ug_science_yr2_enrolled"
      name="ug_science_yr2_enrolled"
      value="form.ug_science_yr2_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="ug_science_yr2_present">UG science Yr2 present students:</label>
    <input
      type="number"
      id="ug_science_yr2_present"
      name="ug_science_yr2_present"
      value="form.ug_science_yr2_present"
    />
  </div>
  <div class="input-box">
    <label for="ug_science_yr3_enrolled"
      >UG science Yr3 enrolled students:</label
    >
    <input
      type="number"
      id="ug_science_yr3_enrolled"
      name="ug_science_yr3_enrolled"
      value="form.ug_science_yr3_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="ug_science_yr3_present">UG science Yr3 present students:</label>
    <input
      type="number"
      id="ug_science_yr3_present"
      name="ug_science_yr3_present"
      value="form.ug_science_yr3_present"
    />
  </div>
  <div class="input-box">
    <input
      type="checkbox"
      id="ug_commerce_exist"
      name="ug_commerce_exist"
      {%
      if
      form.ug_commerce_exist
      %}
      checked
      {%
      endif
      %}
    />
    <label for="ug_commerece_exist">College has ug science course?</label>
  </div>
  <div class="input-box">
    <label for="ug_commerce_sem1_enrolled"
      >UG commerce Sem1 enrolled students:</label
    >
    <input
      type="number"
      id="ug_commerce_sem1_enrolled"
      name="ug_commerce_sem1_enrolled"
      value="form.ug_commerce_sem1_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="ug_commerce_sem1_present"
      >UG commerce Sem1 present students:</label
    >
    <input
      type="number"
      id="ug_commerce_sem1_present"
      name="ug_commerce_sem1_present"
      value="form.ug_commerce_sem1_present"
    />
  </div>
  <div class="input-box">
    <label for="ug_commerce_yr2_enrolled"
      >UG commerce Yr2 enrolled students:</label
    >
    <input
      type="number"
      id="ug_commerce_yr2_enrolled"
      name="ug_commerce_yr2_enrolled"
      value="form.ug_commerce_yr2_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="ug_commerce_yr2_present"
      >UG commerce Yr2 present students:</label
    >
    <input
      type="number"
      id="ug_commerce_yr2_present"
      name="ug_commerce_yr2_present"
      value="form.ug_commerce_yr2_present"
    />
  </div>
  <div class="input-box">
    <label for="ug_commerce_yr3_enrolled"
      >UG commerce Yr3 enrolled students:</label
    >
    <input
      type="number"
      id="ug_commerce_yr3_enrolled"
      name="ug_commerce_yr3_enrolled"
      value="form.ug_commerce_yr3_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="ug_commerce_yr3_present"
      >UG commerce Yr3 present students:</label
    >
    <input
      type="number"
      id="ug_commerce_yr3_present"
      name="ug_commerce_yr3_present"
      value="form.ug_commerce_yr3_present"
    />
  </div>
  <div class="input-box">
    <input
      type="checkbox"
      id="ug_professional_exist"
      name="ug_professional_exist"
      {%
      if
      form.ug_professional_exist
      %}
      checked
      {%
      endif
      %}
    />
    <label for="ug_professional_exist"
      >College has ug professional course?</label
    >
  </div>
  <div class="input-box">
    <label for="ug_professional_sem1_enrolled"
      >UG professional Sem1 enrolled students:</label
    >
    <input
      type="number"
      id="ug_professional_sem1_enrolled"
      name="ug_professional_sem1_enrolled"
      value="form.ug_professional_sem1_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="ug_professional_sem1_present"
      >UG professional Sem1 present students:</label
    >
    <input
      type="number"
      id="ug_professional_sem1_present"
      name="ug_professional_sem1_present"
      value="form.ug_professional_sem1_present"
    />
  </div>
  <div class="input-box">
    <label for="ug_professional_sem2_enrolled"
      >UG professional Sem2 enrolled students:</label
    >
    <input
      type="number"
      id="ug_professional_sem2_enrolled"
      name="ug_professional_sem2_enrolled"
      value="form.ug_professional_sem2_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="ug_professional_sem2_present"
      >UG professional Sem2 present students::</label
    >
    <input
      type="number"
      id="ug_professional_sem2_present"
      name="ug_professional_sem2_present"
      value="form.ug_professional_sem2_present"
    />
  </div>
  <div class="input-box">
    <label for="ug_professional_sem3_enrolled"
      >UG professional Sem3 enrolled students:</label
    >
    <input
      type="number"
      id="ug_professional_sem3_enrolled"
      name="ug_professional_sem3_enrolled"
      value="form.ug_professional_sem3_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="ug_professional_sem3_present"
      >UG professional Sem3 present students:</label
    >
    <input
      type="number"
      id="ug_professional_sem3_present"
      name="ug_professional_sem3_present"
      value="form.ug_professional_sem3_present"
    />
  </div>
  <div class="input-box">
    <label for="ug_professional_sem4_enrolled"
      >UG professional Sem4 enrolled students:</label
    >
    <input
      type="number"
      id="ug_professional_sem4_enrolled"
      name="ug_professional_sem4_enrolled"
      value="form.ug_professional_sem4_enrolled"
    />
  </div>
  <div class="input-box">
    <label for="ug_professional_sem4_present"
      >UG professional Sem4 present students:</label
    >
    <input
      type="number"
      id="ug_professional_sem4_present"
      name="ug_professional_sem4_present"
      value="form.ug_professional_sem4_present"
    />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script></script>

{% endblock content %}
