{% extends "base.html" %} {% block content %}



<form action="" method="POST">
  {% csrf_token %}
  <h2><strong>Enter Your Page</strong></h2>

  <div class="two-forms">
    <div class="input-box">
      <label for="university_name" class="form-label">Write Username:</label><br />
      <input type="text" id="university_name" name="university_name" class="form-control" required>
    <div class="input-box" id="college_type_div">
      <label for="college_type" class="form-label">Write Your Organization Name:</label><br />
      <input type="text" id="college_type" name="college_type" class="form-control" required>
    </div>
    <div class="input-box" id="college_name_div">
      <label for="college_name" class="form-label">Write Your Name:</label><br />
      <input type="text" id="college_name" name="college_name" class="form-control" required>
    </div>
  </div>
  <button id="loading-button" class="btn btn-primary">Enter</button>
</form>
{% endblock content %}
