<div class="input-box">
    <label for=" ug_professional_sem1_enrolled"
      >Fill for UG Science:</label
    >
    <input
      type="number"
      id=" ug_professional_sem1_enrolled"
      name=" ug_professional_sem1_enrolled"
      value="{{ CourseInformation.ug_professional_sem1_enrolled }}"
    />
  </div>
  <div class="input-box">
    <label for=" ug_professional_sem1_present"
      >Fill for UG Science:</label
    >
    <input
      type="number"
      id=" ug_professional_sem1_present"
      name=" ug_professional_sem1_present"
      value="{{ CourseInformation.ug_professional_sem1_present }}"
    />
  </div>
  <div class="input-box">
    <label for=" ug_professional_sem2_enrolled"
      >Fill for UG Science:</label
    >
    <input
      type="number"
      id=" ug_professional_sem2_enrolled"
      name=" ug_professional_sem2_enrolled"
      value="{{ CourseInformation.ug_professional_sem2_enrolled }}"
    />
  </div>
  <div class="input-box">
    <label for=" ug_professional_sem2_present"
      >Fill for UG Science:</label
    >
    <input
      type="number"
      id=" ug_professional_sem2_present"
      name=" ug_professional_sem2_present"
      value="{{ CourseInformation.ug_professional_sem2_present }}"
    />
  </div>
  <div class="input-box">
    <label for=" ug_professional_sem3_enrolled"
      >Fill for UG Science:</label
    >
    <input
      type="number"
      id=" ug_professional_sem3_enrolled"
      name=" ug_professional_sem3_enrolled"
      value="{{ CourseInformation.ug_professional_sem3_enrolled }}"
    />
  </div>
  <div class="input-box">
    <label for=" ug_professional_sem3_present"
      >Fill for UG Science:</label
    >
    <input
      type="number"
      id=" ug_professional_sem3_present"
      name=" ug_professional_sem3_present"
      value="{{ CourseInformation.ug_professional_sem3_present }}"
    />
  </div>
  <div class="input-box">
    <label for=" ug_professional_sem4_enrolled"
      >Fill for UG Science:</label
    >
    <input
      type="number"
      id=" ug_professional_sem4_enrolled"
      name=" ug_professional_sem4_enrolled"
      value="{{ CourseInformation.ug_professional_sem4_enrolled }}"
    />
  </div>